
#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.flex-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.center{
    justify-content: center;
    align-items: center;
    
}

.align-self-center{
    align-self: center;
}

