
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.flex-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flex-row{
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.center{
    justify-content: center;
    align-items: center;
    
}

.align-self-center{
    align-self: center;
}

.top-section-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    align-items: start;
    h1{
        justify-self: center;
  
    }
}


.activity-showcase-horizontal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    div h2{
        font-weight: 300;
        font-style: italic;
        font-size: 20px;
        margin-top: 1%;
    }
}

@media screen and (min-width: 992px) {
    .top-section-grid{
        margin-left: 20%;
        margin-right: 20%;
    }
}