p{
    font-size: 14px;
}

.freehand-font{
    font-family: "Freehand", cursive;
    margin: 0;
}

.title{
    font-size: 40px;
}

.bold{
    font-weight: 700;
}
.font-size-larger{
    font-size: larger;
}

.color-gray{
    color: gray;
}

.color-main-blue{
    color: #4286f5;
}

/*HOVER*/

